<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="NUnitSettings" type="NUnit.Engine.Configuration.NUnitSettings, NUnit.Engine" />
    </configSections>

    <NUnitSettings>
        <DefaultDomainUsage>Single</DefaultDomainUsage>
        <RestoreFrequency>10</RestoreFrequency>
        <SelfTestEnabled>False</SelfTestEnabled>
        <Verbosity>Normal</Verbosity>
    </NUnitSettings>
</configuration>
